body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #E6E6FA;
    height: 100%;
}

#flipbook {
    padding: 0;
    height: 25em;
    background: #f6f6f6;
    transition: transform 1s;
}

#flipbook .bb-bookblock,
#flipbook .bb-item,
#flipbook figure {
    height: 100%;
    width: 100%;
}

#flipbook-row {
    margin-top: 4em;
}

#flipbook figure img {
    height: 100%;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

/* .bb-bookblock {
    box-shadow: 1em 1em 1.4em -0.4em rgba(81, 64, 49, 0.6);
} */

nav li {
    margin: 0.2em;
    margin-top: 1em;
}

#flipbook .book-cover img {
    padding: 0;
    width: 50%;
    transition: transform 0.5s;
}

#flipbook .book-cover {
    background: #E6E6FA;
}

.book-cover-front-translate {
    transform: translate(50%, 0);
}

.book-cover-back-translate {
    transform: translate(50%, 0);
}