body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #F0F0F0;
}

#flipbook-wrapper {
    background-image: url(../images/background.svg);
    background-size: 100% 100%;
    padding-top: 14%;
}

#flipbook {
    padding-bottom: 2%;
}

html,
body, 
.container-fluid, 
.row  {
    height: 100%;
}

/* maintain aspect ratio on resizing 
https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css */
#flipbook .bb-bookblock {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

figure,
figure img {
    height: 100%;
    width: 100%;
}

figure {
    background-image: url(../images/figure_bg.svg);
}

.book-cover {
    background: none;
}

#nav-wrapper {
    width: 35%;
    padding-bottom: 5%;
    position: relative;
    margin-top: 5%;
}

#nav-wrapper,
nav,
#page-counter,
#total-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    width: 120%;
    height: 100%;
}

#page-counter {
    width: 36%;
    height: 100%;
    margin: 0 1%;
}

#page-counter input {
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 1.3vw;
}

#total-count {
    background-color: #e7e7e7;
    border: solid black 1%;
    color: black;
    font-size: 1.3vw;
    width: 50%;
    height: 100%;
}

nav img {
    width: 16%;
    height: 100%;
}

nav img:hover {
    cursor: pointer;
    transform: scale(1.3, 1.3);
}

#page-counter:hover {
    transform: scale(1.1, 1.2);
}

address {
    margin-left: 1%;
}

address img {
    position: absolute;
    width: 100%;
    height: 100%;
}

address a {
    width: 30%;
    padding-bottom: 30%;
    margin-top: 18%;
    position: relative;
    display: block;
}

address a:first-child {
    margin-top: 6%;
}

address a:hover {
    transform: scale(1.7, 1.7);
}