body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #E6E6FA;
    height: 100%;
}

.book-cover {
    background: #E6E6FA;
}

#flipbook {
    padding: 0;
    height: 30em;
    /* height: 60vh; */
    transition: transform 1s;
}

#flipbook .bb-bookblock,
#flipbook .bb-item,
#flipbook figure {
    height: 100%;
    width: 100%;
}

#flipbook-row {
    margin-top: 4em;
}

figure {
    background: #fff;
}

figure img {
    height: 100%;
    width: 100%;
    padding: 0.2em;
    box-sizing: border-box;
}

/* .bb-bookblock {
    box-shadow: 1em 1em 1.4em -0.4em rgba(81, 64, 49, 0.6);
} */

nav li {
    margin: 0.2em;
    margin-top: 1em;
}


